*{
    margin: 2px;
    padding: 0;
}
body{
    width: 100%;
}
.container_flex{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-wrap: wrap;
}
.header, footer{
    background-color: #0F2243;
    color: white;
    padding: 10px;
}
.navigation{
    margin-left: 5px;
}
.navigation li{
    list-style: none;
    padding-right: 5px;
}
.navigation li a{
    color: white;
    text-decoration: none;
}
.navigation li a:hover{
    color: darkviolet;
    text-decoration: underline;
}

.btn-nav{
    display: none;
}
 .logo img{
    height: 35px;
 }
.align-center{
    text-align: center;
    margin: 10px;
}
.button{
    height: 50px;
    width: 180px;
    border-radius: 4px;
    border: #D72385 solid 1px;
    background-color: #D72385;
    text-decoration: none;
    color: white;
    margin: 5px;
}
.textbox {
    height: 30px;
    width: 180px;
}
.bg-gray{
    background-color: #EEEEEE;
    margin: 10px auto;
    padding-top: 10px;
    padding-left: 75px;
}
.box-sec, .box-one{
    width: 45%;
}

.box-one img{
    height: 125px;
}

.container{
    padding:5%;
}

p,h2,h3{
    padding: 10px;
}
.membre{
    width: 22%;
}
.membre img{
    width: 90%;
}

.cours{
    width: 30%;
}
.cours img{
    width: 75%;
}
.formulaire , form input{
    display: block;
}
.entry, label{
    display: block;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    
}

@media screen and (max-width: 767px) {
    .bg-gray{
        display: block;
    }
    
}